<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>revisar-tareas</ion-title>
    <ion-back-button slot = 'start' text = '' defaultHref="/home"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">revisar-tareas</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-card *ngFor="let tarea of tareas">
        <ion-card-header>
          <ion-card-title>{{ tarea.asignatura }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img [src]="tarea.foto"></ion-img>
          <p><strong>Página:</strong> {{ tarea.pagina }}</p>
          <p><strong>Actividades:</strong> {{ tarea.actividades }}</p>
          <div class="botones-tarea">
            <ion-button color="danger" (click)="rechazarTarea(tarea)">Rechazar</ion-button>

            <ion-button color="success" (click)="aceptarTarea(tarea)">Aceptar</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-header>
</ion-content>
