<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <form (ngSubmit)="login()">
      <ion-input
        [(ngModel)]="email"
        type="email"
        name="email"
        placeholder="Correo electrónico"
        required
        class="rounded-input"
      ></ion-input>

      <ion-input
        [(ngModel)]="password"
        type="password"
        name="password"
        placeholder="Contraseña"
        required
        class="rounded-input"
      ></ion-input>

      <ion-button type="submit" class="rounded-button">Iniciar sesión</ion-button>

      <ion-text color="danger" *ngIf="errorLogin">
        <p class="error-text">Correo o contraseña incorrectos</p>
      </ion-text>
    </form>
  </div>
</ion-content>