/* Estilo general */
ion-content {
  --background: #f4f6f9; /* Fondo suave y neutro */
  font-family: 'Arial', sans-serif; /* Tipografía profesional */
}


ion-header {
  --background: #283593; /* Color azul oscuro para el header */
  --color: white; /* Texto blanco */
}


ion-toolbar {
  --background: #283593; /* Azul oscuro para el toolbar */
}


ion-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}


ion-button {
  --background: #283593; /* Azul más suave para los botones */
  --color: white;

  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.btn-cerrar-sesion {
  --background: transparent;
  --color: white; /* o el que contraste con el fondo */
  --box-shadow: none;
}


ion-button:hover {
  --background: #1a237e; /* Azul más oscuro al pasar el mouse */
}


ion-list {
  margin-top: 20px;
}


ion-item {
  --background: white;
  --border-color: #bdbdbd;
  --border-width: 1px;
  --border-radius: 8px;
  margin: 10px 0;
  padding: 12px;
  font-size: 1rem;
}


ion-item ion-label {
  font-size: 1.2rem;
  color: #212121; /* Texto oscuro para buena legibilidad */
}


ion-item ion-icon {
  color: #283593; /* Color azul para los iconos */
}


ion-avatar {
  width: 40px;
  height: 40px;
}


ion-card {
  --background: #ffffff;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
  margin: 15px 0;
}


ion-card-header {
  --background: #3949ab;
  color: white;
  padding: 10px;
}


ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}


ion-card-subtitle {
  font-size: 1.1rem;
  color: #7f7f7f;
}


ion-modal {
  --background: #f5f5f5;
  --border-radius: 10px;
  --height: 60%;
}


ion-modal ion-toolbar {
  --background: #283593;
  --color: white;
}


ion-modal .alert-textarea {
  border: 1px solid #bdbdbd;
  padding: 12px;
  font-size: 1rem;
  color: #424242;
  background-color: #ffffff;
}


/* Estilos de alerta */
ion-alert {
  --background: #f5f5f5;
  --color: #283593;
}


ion-footer {
  background-color: #283593;
  color: white;
  padding: 12px;
  text-align: center;
}
ion-datetime {
  width: 100% !important;
  max-width: 100% !important;
  --background: #ffffff;
  --color: #000000; // Asegura que el texto sea negro y legible
  color: #000000 !important; // Forzamos el color por si otro estilo lo pisa


}
.error-text {
  margin-top: 10px;
  padding: 10px 16px; /* Padding manual */
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #D32F2F; /* Rojo fuerte */
  background-color: #FFEBEE; /* Fondo suave */
  border-radius: 8px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
