
<ion-content [fullscreen]="true">
  <!-- Toolbar superior con título y botón -->
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Profesorado</ion-title>
      <ion-back-button slot = 'start' text = '' defaultHref="/home"></ion-back-button>

      <ion-buttons slot="end">
        <ion-button color="rgb(14 116 144)" (click)="cerrarSesion()">
          <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Toolbar con el calendario (separado del anterior) -->
    <ion-datetime presentation="date" [value]="today" [highlightedDates]="highlightedDates"></ion-datetime>

  </ion-header>
  <ion-list>
    <ion-item id="modal2">
      <ion-icon class="formato-icon" aria-hidden="true" name="reader-outline" slot="start"></ion-icon>
      <ion-label class="grande">Tareas</ion-label>
    </ion-item>
    <ion-item id="modalRevisar">
      <ion-icon class="formato-icon" aria-hidden="true" name="school-outline" slot="start"></ion-icon>
      <ion-label class="grande">Revisar</ion-label>
    </ion-item>
    <ion-item id="modalAvisos">
      <ion-icon class="formato-icon" aria-hidden="true" name="alert-outline" slot="start"></ion-icon>
      <ion-label class="grande">Avisos</ion-label>
    </ion-item>
  </ion-list>


  <ion-modal #modal2 trigger="modal2">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Tareas</ion-title>
          <ion-button (click)="seleccionarAsignatura()" slot="end" color="rgb(14 116 144)">
            <ion-icon size="large"  aria-hidden="true" name="add-circle-outline"></ion-icon>
        </ion-button>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeModal(modal2)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let tarea of tareas">
            <ion-avatar slot="start">
            </ion-avatar>
            <ion-label>
              <h2>{{tarea.asignatura}}</h2>
              <p>{{tarea.id}}</p>
              <p>Pagina: {{tarea.pagina}}, actividad/es: {{tarea.actividades}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-alert
  trigger="add-tarea-alert"
  header="Nueva Tarea"
  [buttons]="tareaAlertButtons"
  [inputs]="tareaAlertInputs"
></ion-alert>
    </ng-template>
  </ion-modal>

  <ion-modal #modalRevisar trigger="modalRevisar">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Escoge el curso</ion-title>
          <ion-buttons slot="start">
            <ion-button color="light" (click)="closeModal(modalRevisar)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let curso of cursos" (click) = "abrirModalAlumno(curso)">
            <ion-avatar slot="start"></ion-avatar>
            <ion-label>
              <h1>{{curso}}</h1>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #escogerAlumno trigger="escogerAlumno">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Revisar tareas</ion-title>
          <ion-buttons slot="start">
            <ion-button color="light" (click)="closeModal(escogerAlumno)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>


          <ion-item (click)="verTareasDeTodos(); closeModal(modalRevisar); closeModal(escogerAlumno)">
            <ion-avatar slot="start"></ion-avatar>
            <ion-label>
              <h1>TODOS</h1>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item *ngFor="let alumno of alumnosFiltrados" (click)="comprobarTarea(alumno); closeModal(modalRevisar); closeModal(escogerAlumno)">
            <ion-avatar slot="start">
              <ion-img [src]=alumno.foto></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{alumno.nombre}}</h2>
              <p>{{alumno.apellidos}}</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>

        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalAvisos trigger="modalAvisos">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Avisos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="abrirModalAnadirAviso()" slot="end" color="light">
              <ion-icon size="large" aria-hidden="true" name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button color="light" (click)="closeModal(modalAvisos)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-list>
          <ion-item-sliding *ngFor="let aviso of avisos">
            <ion-item>
              <ion-label>
                <h2>{{ aviso.alumnos?.nombre }} {{ aviso.alumnos?.apellidos }}</h2>
                <p>{{ aviso.mensaje }}</p>
                <small>Fecha: {{ aviso.fecha }}</small>
              </ion-label>
              <ion-icon
                slot="end"
                [name]="
                  aviso.grado === 1 ? 'alert-circle-outline' :
                  aviso.grado === 2 ? 'alert-outline' :
                  'alert'">
              </ion-icon>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="borrarAviso(aviso.id)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalAnadirAviso trigger="modalAnadirAviso">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Avisos</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeModal(modalAnadirAviso)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let alumno of alumnos" (click)="formularioAviso(alumno)">
            <ion-avatar slot="start">
              <ion-img [src]=alumno.foto></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{alumno.nombre}}</h2>
              <p>{{alumno.apellidos}}</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>

        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
