<ion-app>
  <!-- Menu lateral -->
  <ion-menu side ="end" contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">

        <ion-title>Opciones</ion-title>

      </ion-toolbar>

    </ion-header>

    <!-- Contenido del menú lateral con un item de ejemplo -->
    <ion-content class="ion-padding">

      <ion-list>
        <ion-item button id="open-toast" (click)="vincularAlert()">
          <ion-icon name="people-circle-outline" slot="start"></ion-icon>
          <ion-label>Vincular</ion-label>
        </ion-item>
        <ion-item button (click)="anadirAlert()">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          <ion-label>Añadir</ion-label>
        </ion-item>

      </ion-list>

    </ion-content>

    <!-- Footer para el menu -->
    <ion-footer>
      <ion-toolbar   color="tertiary">
        <p slot="end" class="salir-text" style="color: white; margin-right: 5px; padding: 5px;">Cerrar sesión</p>
        <ion-buttons slot="end" class="salir-button" (click)="cerrarSesion()" style="--background: #0288D1; color: white; margin-left: 5px; padding: 5px;">
          <ion-icon size="large" name="exit-outline" style="color: white;"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <!-- Pantalla de carga -->
<div *ngIf="cargando" class="pantalla-carga">
  <!-- Imagen de fondo -->
  <div class="fondo"></div>

  <!-- GIF centrado -->
  <div class="contenedor-gif">
    <img src="assets/CargandoCartelAnimacion.gif" alt="Cargando..." />
  </div>
</div>
    <ion-header>
      <ion-toolbar>
        <ion-back-button slot="start" text="" defaultHref="/home"></ion-back-button>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="white-space: normal; overflow: visible; text-overflow: clip; width: auto; max-width: unset;">
          Bienvenido, {{tutor_nombre}}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">

      <ng-container *ngIf="alumnos.length === 0">
        <div class="ion-text-center ion-padding">
          <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
          <p>No tienes ningún hijo registrado. Añádelo desde el menú de opciones.</p>
        </div>
      </ng-container>


      <!-- Grid de alumnos -->
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6" size-lg="4" *ngFor="let alumno of alumnos">
            <ion-card>
              <img [routerLink]="['/hijo', alumno.id]" [src]="alumno.foto" alt="Foto de {{ alumno.nombre }}" class="profile-image">
              <ion-card-header class="card-header-center">
                <ion-card-title>{{ alumno.nombre }}</ion-card-title>
                <ion-card-subtitle>{{ alumno.apellidos }} || {{ alumno.curso }}º</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-app>
