ion-datetime {
  width: 100% !important;
  max-width: 100% !important;

}
ion-col.seleccionado {
  background-color: #cce5ff;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.formato-icon {
  font-size:50px;
  padding:10px;
  margin-right:40px;
}
.grande-icon {
  font-size:50px;
}
.grande {
  font-size:24px;
}


ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
.fab-toolbar {
  position: absolute;
  top: 8px;
  right: 60px; /* Ajusta según necesidad */
}
.icono-camara {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #0e7490;
}