<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Alumnos</ion-title>
      <ion-buttons slot="end">
        <ion-button color="rgb(14 116 144)" (click)="cerrarSesion()">
          <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Selector de vista -->
    <ion-toolbar>
      <ion-segment [(ngModel)]="vistaSeleccionada">
        <ion-segment-button value="mes">
          <ion-label>Mes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="semana">
          <ion-label>Semana</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <!-- Vista mensual -->
    <ng-container *ngIf="vistaSeleccionada === 'mes'">
      <ion-toolbar>
        <ion-datetime
          presentation="date"
          [value]="today"
          [highlightedDates]="highlightedDates"
          (ionChange)="alSeleccionarFecha($event)">
        </ion-datetime>
      </ion-toolbar>
      <ion-list *ngIf="tareasDelDia.length > 0">
        <ion-list-header>
          <ion-label>Tareas para el {{ tareasDelDia[0]?.f_limite | date: 'EEEE d' }}</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let tarea of tareasDelDia">
          <ion-label>
            <h2>{{ tarea.asignatura }}</h2>
            <h2>{{ tarea.pagina }}</h2>
            <h2>{{ tarea.actividades }}</h2>
            <p>{{ tarea.anotacion }}</p>
          </ion-label>
          <!-- Checkbox agregado en la vista mensual -->
          <ion-checkbox
            slot="end"
            [checked]="tarea.completada"
            (ionChange)="toggleTareaCompletada(tarea)">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </ng-container>

    <!-- Vista semanal -->
    <ng-container *ngIf="vistaSeleccionada === 'semana'">
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let dia of diasSemana" (click)="alSeleccionarDiaSemana(dia)" [ngClass]="{'seleccionado': dia.toISOString().split('T')[0] === diaSeleccionado}">
              <div>{{ dia | date: 'EEE dd/MM' }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list *ngIf="tareasDelDia.length > 0; else sinTareas">
          <ion-list-header>
            <ion-label>Tareas para el {{ tareasDelDia[0]?.fecha | date: 'EEEE d' }}</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let tarea of tareasDelDia">
            <ion-label>
              <h2>{{ tarea.asignatura }}</h2>
              <p>{{ tarea.pagina }}</p>
              <p>{{ tarea.actividades }}</p>
              <p>{{ tarea.anotacion }}</p>
            </ion-label>
            <ion-icon name="camera-outline" slot="end" class="icono-camara" (click)="abrirCamara(tarea)"></ion-icon>
            <ion-checkbox
              slot="end"
              [checked]="tarea.completada"
              (ionChange)="toggleTareaCompletada(tarea)">
            </ion-checkbox>
          </ion-item>
          
        </ion-list>
      </ion-toolbar>
    </ng-container>

    <ng-template #sinTareas>
      <ion-item *ngIf="diaSeleccionado">
        <ion-label>
          <p>No hay tareas para este día :)</p>
        </ion-label>
      </ion-item>
    </ng-template>
    <ion-item id="modal1">
      <ion-icon class="formato-icon" aria-hidden="true" name="ribbon-outline" slot="start"></ion-icon>
      <ion-label class="grande">Logros</ion-label>
    </ion-item>
    <ion-modal #modal1 trigger="modal1">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Logros</ion-title>
            <ion-button slot="end" color="rgb(14 116 144)">
                <ion-icon size="large" aria-hidden="true" name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-buttons slot="start">
              <ion-button color="light" (click)="closeModal(modal1)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
  
          <ion-list>
            <ion-item *ngFor ="let logro of logros">
              <ion-avatar slot="start">
                <ion-img src=alumno.imagen></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <p>Sales Rep</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Daniel Smith</h2>
                <p>Product Designer</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Greg Smith</h2>
                <p>Director of Operations</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Zoey Smith</h2>
                <p>CEO</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-header>
</ion-content>
