<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="login()">
    <div class="login-container">
      <ion-input
        [(ngModel)]="pin"
        type="password"
        name="pin"
        placeholder="PIN"
        required
        class="rounded-input"
      ></ion-input>

      <ion-button type="submit" class="icon-button" fill="solid">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-text color="danger" *ngIf="errorLogin">
      <p class="error-text">Pin incorrecto</p>
    </ion-text>

  </form>
</ion-content>
