<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      ¿Qué eres?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary" (click)="loginPadres()">
    <ion-card-header>
      <ion-card-title class="centrar">
        <ion-icon size="large" name="people-circle-outline"></ion-icon>
        Padre
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="success" routerLink="/alumnos-login">
    <ion-card-header>
      <ion-card-title class="centrar">
        <ion-icon size="large" name="school-outline"></ion-icon>
        Alumno
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="warning" (click)="loginProfesorado()">
    <ion-card-header>
      <ion-card-title class="centrar">
        <ion-icon size="large" name="briefcase-outline"></ion-icon>
        Profesor
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="contenedor">
    <img src="assets/Axo.png" alt="Foto del alumno" class="imagen-responsiva" />
    <p class="texto-bienvenida">Bienvenido</p>
  </div>

</ion-content>
<ion-footer class="custom-footer">
  <ion-toolbar>
    <div class="footer-content">
      <p class="footer-text">¿No tienes cuenta?</p>
      <ion-button routerLink="/registrar" fill="outline" class="footer-button">Regístrate</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
